.container1 {
border: 5px solid #B22222;
margin-left: 200px;
margin-right: 100px;
margin-top: 50px;
margin-bottom: 100px;
width: 1100px;
height: 600px
}


/* .col {
border: 3px solid #B22222;
margin-left: 20px;
margin-right: 100px;
margin-top: 20px;
margin-bottom: 20px;
width: 650px;
height: 550px
}

.col {
border: 3px solid #B22222;
margin-left: 20px;
margin-right: 100px;
margin-top: 20px;
margin-bottom: 20px;
width: 650px;
height: 550px
} */

